
.carte{
  background: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  max-width: 352px;
  margin: 20px 20px 0 0;
  padding: 20px 0;
  text-align: center;

  img{
    width: 151px;
    height: 151px;
  }

}